.base__5e434 {
    --custom-app-top-bar-height: 0px;
    anchor-scope: --trailing;

    .trailing_c38106 {
        position: relative;
        z-index: 101;
        anchor-name: --trailing;
        gap: var(--space-xs);
        -webkit-app-region: nodrag;
    }

    .trailing_c38106>* {
        translate: 0px 24px;
    }

    .winButtons_c38106 {
        anchor-name: --win-buttons;

        &::before {
            content: none;
        }

        .winButton_c38106 {
            width: calc(var(--custom-channel-header-height) / 1.25);
            height: calc(var(--custom-channel-header-height) / 1.25);
        }
    }

    :has(.toolbar__9293f) {
        position: static;
    }

    .page__5e434>div>div:not([class]) {
        display: none;
    }

    .upperContainer__9293f {
        -webkit-app-region: drag;
    }

    .tabBar__133bf,
    .toolbar__9293f>*,
    .headerBar__1a9ce .toolbar__9293f,
    .tabs__26669 {
        -webkit-app-region: nodrag;
        z-index: 20000;
        pointer-events: all;
    }

    .chat_f75fb0:not(.threadSidebarOpen_f75fb0) .upperContainer__9293f {
        position: absolute;
        width: auto;
        right: calc(anchor-size(--trailing width) + var(--space-xs)) !important;
        left: calc(var(--custom-guild-sidebar-width) + var(--space-sm)) !important;
    }

    .container__01ae2>.container__9293f>.upperContainer__9293f>.toolbar__9293f {
        position: absolute;
        width: auto;
        right: calc(anchor-size(--trailing width) + var(--space-xs)) !important;
        background: var(--__header-bar-background);

        &:before {
            background: linear-gradient(to right, rgba(54, 57, 63, 0) 0, var(--__header-bar-background) 100%);
            content: "";
            height: 100%;
            left: -8px;
            position: absolute;
            top: 0;
            width: 8px;
        }
    }

    /* voice */
    .root_bfe55a {
        position: relative;
    }

    .videoControls_bfe55a {
        position: absolute;

        -webkit-app-region: nodrag;
    }

    .subtitleContainer__49508>.headerBar__49508>.upperContainer__9293f {
        position: relative;
        left: 0px !important;
        gap: var(--space-xxs);
    }

    .toolbar__49508 {
        position: absolute;
        top: var(--custom-channel-header-height);
        right: var(--space-xxs);
    }

    .chat_f75fb0:has(>.video_cb9592) {
        .chatLayerWrapper__01ae2 {
            position: absolute;
            top: var(--custom-channel-header-height);
            height: calc(100% - var(--custom-channel-header-height));

            .container__9293f,
            .upperContainer__9293f,
            .toolbar__9293f {
                position: relative;
                left: unset !important;
                right: unset !important;
            }

        }
    }

    /* shop/quests/nitro */
    .headerBar__1a9ce .toolbar__9293f {
        position: absolute;
        width: auto;
        right: calc(anchor-size(--trailing width) + var(--space-xs)) !important;
        top: var(--space-xs);
    }

    .tabs__26669 {
        width: auto;
        flex: none;
    }
}
